body{

font-family:Arial;
margin:0;
background:#f4f6f9;

}


.header{

background:#ffffff;

padding:20px 30px;

border-bottom:1px solid #e5e7eb;

}


.header h1{

margin:0;

color:#1e293b;

}


.header p{

color:#64748b;

}



.layout{

display:flex;

}


.sidebar{

width:220px;
height:100vh;
background:#1e293b;
padding:20px;

}


.sidebar h3{

color:white;
font-size:22px;
margin-bottom:30px;

}



.sidebar ul{

padding:0;
margin:0;

}



.sidebar li{

list-style:none;
margin-bottom:15px;

}



.sidebar a{

display:block;

color:white;

text-decoration:none;

padding:12px 15px;

border-radius:8px;

font-size:16px;

}



.sidebar a:hover{

background:#475569;

}

.sidebar a.active{

background:#2563eb;

color:white;

}

main{

flex:1;

padding:30px;

background:#f8fafc;

}



.cards{

display:flex;
gap:20px;

}



.card{


background:white;

padding:25px;

width:220px;


border-radius:12px;


box-shadow:
0 4px 10px rgba(0,0,0,0.08);


}


.card h3{

color:#64748b;

font-size:15px;

}


.card h2{

color:#1e293b;

font-size:28px;

}



table{

width:100%;
background:white;
margin-top:30px;

}



td,th{

padding:15px;
text-align:left;

}

@media(max-width:768px){


.layout{

flex-direction:column;

}



.sidebar{

width:auto;

height:auto;

}



.cards{

flex-direction:column;

}


.card{

width:auto;

}


}